﻿@page "/"
@namespace Stockathon.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Stockathon.Helpers;
@inject SessionBootstrapper bootstrapper
@{
    bootstrapper.Bootstrap();
}
@{
    @using SA_Utilities.Enum;
    @using SA_BaseObjet;
    @using SA_BaseObjet.Admin;
    @using Services;
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.Extensions.Configuration;
    @using SA_Mgr_Interface.Admin;
    @inject IConfiguration iConfig;
    @inject IHttpContextAccessor httpContextAccessor;
    @inject IAdminMgr _IAdminMgr;
    ResultObject<Tbl_Admin_User> resLogin = new ResultObject<Tbl_Admin_User>();
    SAAdmin _authService = new SAAdmin(iConfig, httpContextAccessor, _IAdminMgr);
    resLogin = _authService.checkLogin();
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stockathon</title>
    <base href="~/" />
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.png" />
    <link href="~/CssFiles/CustomCss.css" rel="stylesheet" />
    @{
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet" />
        <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
        if (resLogin.Result == ResultType.Success)
        {
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link rel="stylesheet" type="text/css" href="~/assets/css/custom-style.css" />
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_multiple_tables.css">

            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_html5.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_custom.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_miscellaneous.css">
            @*
                <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css" />
                <link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">

                <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">

                <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
                <link rel="stylesheet preload" as="style" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">

                <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">*@

            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <link rel="stylesheet preload" as="style" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">

            <link rel="stylesheet" type="text/css" href="plugins/select2/select2.min.css">
            <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
        }
        else
        {
            <link href="~/assets/css/authentication/form-1.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" type="text/css" href="~/assets/css/custom-style.css" />
        }
        <link href="~/plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />

    }
</head>
<body data-spy="scroll" data-target="#navSection" data-offset="100">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    @{
        if (resLogin.Result == ResultType.Success)
        {
            @Html.Partial("_Header")
            <div class="main-container" id="container">
                @Html.Partial("_LeftMenu")

                <div id="content" class="main-content">
                    <app>
                        <component type="typeof(App)" render-mode="Server" />
                    </app>
                    <div class="footer-wrapper">
                        <div class="footer-section f-section-1">
                            <p class="">Copyright © 2020 <a target="_blank" href="#">Stockathon</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <app>
                <component type="typeof(LoginApp)" render-mode="Server" />
            </app>
        }
    }

    <script src="_framework/blazor.server.js"></script>
    <script src="~/JsFiles/NewCustom.js"></script>

    <script>
        window.clientJsMethods = {
            RedirectTo: function (path) {
                window.location = path;
            }
        };
    </script>

    @{
        if (resLogin.Result == ResultType.Success)
        {
            <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
            <script src="~/bootstrap/js/popper.min.js"></script>
            <script src="~/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script src="~/assets/js/app.js"></script>
            <script>
                $(document).ready(function () {
                    App.init();
                });
            </script>
            <script src="~/assets/js/custom.js"></script>
            <script src="~/plugins/table/datatable/datatables.js"></script>
            <script src="~/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
            <script src="~/plugins/table/datatable/button-ext/jszip.min.js"></script>
            <script src="~/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
            <script src="~/plugins/table/datatable/button-ext/buttons.print.min.js"></script>
            <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
            <script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
            <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
            <script src="~/plugins/editors/ckeditor/ckeditor.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>

            @*<script src="assets/js/scrollspyNav.js"></script>
                <script src="plugins/select2/select2.min.js"></script>
                <script src="plugins/select2/custom-select2.js"></script>*@
            @*<script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
                    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

                t>
                    <script src="~/plugins/highlight/highlight.pack.js"></script>
                    <script src="~/assets/js/scrollspyNav.js"></script>
                    <script src="~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
            *@

        }
        else
        {
            <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
            <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
            <script src="~/bootstrap/js/popper.min.js"></script>
            <script src="~/bootstrap/js/bootstrap.min.js"></script>
            <!-- END GLOBAL MANDATORY SCRIPTS -->
            <script src="~/assets/js/authentication/form-1.js"></script>
        }

        <script src="~/plugins/notification/snackbar/snackbar.min.js"></script>
        <script src="~/assets/js/components/notification/custom-snackbar.js"></script>

        <div class="modal" id="components-reconnect-modal"></div>
        <script>
            let reconnect = () => {
                var modal = document.getElementById("components-reconnect-modal");
                if (modal.classList.contains("components-reconnect-failed") || modal.classList.contains("components-reconnect-rejected")) {
                    window.location.reload(false);
                    return;
                }
                setTimeout(reconnect, 500);
            };
            setTimeout(reconnect, 500);
        </script>
    }

</body>
</html>
