﻿@page "/dashboard"

    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div style="height:220px; letter-spacing: 0px;text-transform: inherit;font-family: verdana;text-align: center!important;">
                    <h1 class="text-center welcome-text" style="margin-top: 5px;">
                        Welcome To Stockathon
                    </h1>
                    <h1 class="text-center welcome-text" style="margin-top: 2px;">
                        Admin Panel
                    </h1>
                </div>
            </div>
        </div>
    </div>
@code{

    protected override void OnInitialized()
    {

    }


    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}

