﻿@page "/404"
<div class="error404 text-center">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <div class="container-fluid error-content">
        <div class="">
            <h1 class="error-number">404</h1>
            <p class="mini-text">Ooops!</p>
            <p class="error-text mb-4 mt-1">The page you requested was not found!</p>
            <a href="/dashboard" class="btn btn-primary mt-5" style="width:200px !important">Back to Dashboard</a>
        </div>
    </div>
</div>

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}