﻿@page "/configuration"
@inject IAdminMgr _IAdminMgr;

<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Configuration</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <EditForm Model="@model" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Facebook Link<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_facebook" type="text" class="form-control" id="Facebook" placeholder="Facebook Link" />
                                <ValidationMessage For="@(() => model.config_facebook)" />
                            </div>
                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Instagram Link<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_instagram" type="text" class="form-control" id="Instagram" placeholder="Instagram Link" />
                                <ValidationMessage For="@(() => model.config_instagram)" />
                            </div>
                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Twitter Link<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_twitter" type="text" class="form-control" id="Twitter" placeholder="Twitter Link" />
                                <ValidationMessage For="@(() => model.config_twitter)" />
                            </div>
                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Linkedin Link<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_linkedin" type="text" class="form-control" id="Linkedin" placeholder="Linkedin Link" />
                                <ValidationMessage For="@(() => model.config_linkedin)" />
                            </div>
                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Contact No.<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_contact" type="text" class="form-control" id="Twitter" placeholder="Contact" />
                                <ValidationMessage For="@(() => model.config_contact)" />
                            </div>
                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Email<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_email" type="text" class="form-control" id="Linkedin" placeholder="Email" />
                                <ValidationMessage For="@(() => model.config_email)" />
                            </div>

                            @*<div class="form-group mb-4 col-lg-6">
                                <label for="cname">Website<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_website" type="text" class="form-control" id="Twitter" placeholder="Website" />
                                <ValidationMessage For="@(() => model.config_website)" />
                            </div>*@
                            <div class="form-group mb-4 col-lg-6">
                                <label for="cname">Location<span class="astick">*</span></label>
                                <InputText @bind-Value="@model.config_location" type="text" class="form-control" id="Linkedin" placeholder="Location" />
                                <ValidationMessage For="@(() => model.config_location)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    SAAdmin _SAAdmin;
    ResultObject<List<ConfigurationData>> resObject;
    ConfigurationData model;

    protected override void OnInitialized()
    {
        _SAAdmin = new SAAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        model = new ConfigurationData();
        resObject = _SAAdmin.viewConfiguration();
        model = resObject.ResultData.FirstOrDefault();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Configuration" });
    }

    protected void HandleInvalidSubmit()
    {
    }

    void OnConfirm()
    {
        ResultObject<string> res1 = new ResultObject<string>();

        res1 = _SAAdmin.editConfiguration(model);
        if (res1.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Configuration updated successfully");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        resObject = _SAAdmin.viewConfiguration();
        model = resObject.ResultData.FirstOrDefault();

    }

}