﻿@page "/plans"
@inject NavigationManager NavigationManager;
@inject IUserOrderMgr _IUserOrderMgr;
@using SA_Utilities;

<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12 stock-analysis-top">
                            <h4>Plan Master </h4>
                            @*<button class="btn btn-primary stock-btn" @onclick="@(() => ShowAddPlanDialog())">
                                <svg viewBox="0 0 24 24" width="24" height="24"
                                     stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round" class="css-i6dzq1">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg> New Plan
                            </button>*@
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-4 mt-4">
                    <table id="plan" class="table style-3" style="width:100%">
                        <thead>
                            <tr>
                                <th> Plan name </th>
                                <th> Message </th>
                                <th> Duration </th>
                                <th> Plan Old Price </th>
                                <th> Plan price </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PlanData Plan in resPlan.ResultData)
                            {
                                <tr>
                                    <td>@Plan.plan_name</td>
                                    <td>@Plan.plan_short_message</td>
                                    <td>@Plan.plan_duration</td>
                                    <td>@Plan.plan_old_price</td>
                                    <td>@Plan.plan_pricing</td>
                                    <td class="">
                                        <ul class="table-controls">
                                            <li id="editButton">
                                                <a class="editButton" @onclick="@(() => ShowConfigurePlanDialog(Plan.plan_features_id))" href="javascript:void(0);" data-placement="top" title="Edit" data-original-title="Edit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                         stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@if (showingDialog)
{
    <Stockathon.Pages.CustomTools.PlanPopupModel DataID="plan_features_id"
                                                 OnCancel="CancelConfigurePlanDialog"
                                                 OnConfirm="ConfirmConfigurePlanDialog"
                                                 PData="_userPlan" />
}



@code {

    SAUser _SAUser;
    ResultObject<List<PlanData>> resPlan;
    PlanData _userPlan;
    bool showingDialog;

    long plan_features_id;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _SAUser = new SAUser(iConfig, httpContextAccessor, _IUserOrderMgr);
        resPlan = _SAUser.viewPlan("admin_view_plans", "");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Plan" });
        JSRuntime.InvokeVoidAsync("CSBindDataTable", "plan", false, 3);

    }

    void ShowAddPlanDialog()
    {
        plan_features_id = 0;
        _userPlan = new PlanData();
        showingDialog = true;
    }

    void ShowConfigurePlanDialog(long PlanID)
    {
        plan_features_id = PlanID;
        ResultObject<List<PlanData>> resUserPlan1 = _SAUser.viewPlan("admin_view_byplanid", PlanID.ToString());
        _userPlan = resUserPlan1.ResultData.FirstOrDefault();
        showingDialog = true;
    }

    void CancelConfigurePlanDialog()
    {
        plan_features_id = 0;
        _userPlan = new PlanData();
        JSRuntime.InvokeVoidAsync("CSHideModel", "large-Modal");
        showingDialog = false;
    }

    void ConfirmConfigurePlanDialog()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        var XMLData = XmlConversion.SerializeToXElement(_userPlan);
        res1 = _SAUser.updatedetails("AddUpdatePlan", "", XMLData.ToString(), "", "USP_AdminUserOrder");
        showingDialog = false;
        JSRuntime.InvokeVoidAsync("CSHideModel", "large-Modal");
        if (res1.Result == ResultType.Success)
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "success", "Membership Update successfully");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        JSRuntime.InvokeVoidAsync("CSWindowReload");
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = _SAUser.updatedetails("deleteplan", id.ToString(), "", "", "USP_AdminUserOrder");
            if (res1.ResultMessage == "Success")
            {
                resPlan = _SAUser.viewPlan("admin_view_plans", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Plan deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "plan");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }

}