﻿@page "/profile"
@inject IAdminMgr _IAdminMgr;

<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>My Profile</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="row">
                    <EditForm Model="@resObject.ResultData" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                        <DataAnnotationsValidator />
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">First Name</label>
                            <input maxlength="100" @bind="resObject.ResultData.first_name" class="form-control" id="Name" placeholder="First Name" />
                            <ValidationMessage For="@(() => resObject.ResultData.first_name)" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Last Name</label>
                            <input maxlength="100" @bind="resObject.ResultData.Last_name" class="form-control" id="Name" placeholder="Last Name" />
                            <ValidationMessage For="@(() => resObject.ResultData.Last_name)" />
                        </div>
                        <div class="form-group mb-4 col-lg-6">
                            <label for="title">Email</label>
                            <input disabled @bind="resObject.ResultData.email" class="form-control" id="Email" placeholder="Email" />
                            <ValidationMessage For="@(() => resObject.ResultData.email)" />
                        </div>
                        <div class="col-lg-12">
                            <input name="Update" class="btn btn-primary" type="submit" value="Update">
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@inject SessionState session;
@code {
    ResultObject<Tbl_Admin_User> resObject;
    SAAdmin _SAAdmin;
    Tbl_Admin_User admin;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _SAAdmin = new SAAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        admin = new Tbl_Admin_User();

        ResultObject<Tbl_Admin_User> resLogin = new ResultObject<Tbl_Admin_User>();
        resLogin = _SAAdmin.checkLogin();
        admin = resLogin.ResultData;

        resObject = _SAAdmin.adminLoginAuth("loginprofile", admin);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "My Profile" });
    }

    void OnConfirm()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res = new ResultObject<string>();
        res = _SAAdmin.updateProfile("profileudpate", "", resObject.ResultData);
        if (res.ResultMessage == "Success")
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Profile updated successfully.");
            JSRuntime.InvokeVoidAsync("changespantext", "adminaname", resObject.ResultData.first_name);
            JSRuntime.InvokeVoidAsync("changespantext", "lastaname", resObject.ResultData.first_name);
            resObject = _SAAdmin.adminLoginAuth("loginprofile", admin);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            resObject = _SAAdmin.adminLoginAuth("loginprofile", admin);
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    protected void HandleInvalidSubmit()
    {
    }
}