﻿@page "/seolist"
@inject IAdminMgr _IAdminMgr;
@using SA_Utilities;

<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>SEO</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="seoable" class="table style-3 table-hover" style="text-transform:capitalize">
                            <thead>
                                <tr>
                                    <th>Page Name</th>
                                    <th>Title</th>
                                    <th>Keyword</th>
                                    <th>Description</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (tbl_PageSEO list in resObject.ResultData)
                                    {
                                        <tr>
                                            <td>@list.Page_Name</td>
                                            <td>@list.Page_Title</td>
                                            <td>@list.Page_Keyword</td>
                                            <td>@list.Page_Description</td>
                                            <td class="text-right">
                                                <ul class="table-controls">
                                                    @{
                                                        string encrypPass = Encryption.EncryptString(list.PageId.ToString(), Encryption.passkey);
                                                        encrypPass = encrypPass.Replace('+', '_');
                                                        encrypPass = encrypPass.Replace('/', '~');
                                                    }
                                                    <li id="editButton">
                                                        <a href="/seo/@encrypPass" class="editButton" id="cityid" data-placement="top" title="Edit" data-original-title="Edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    @*<li>
                                                            <a @onclick="@(() => delete(list.PageId.ToString()))" href="javascript:void(0);" data-placement="top" title="Delete"
                                                               data-original-title="Delete">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                     height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                     stroke-linecap="round" stroke-linejoin="round"
                                                                     class="feather feather-trash p-1 br-6 mb-1">
                                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                    </path>
                                                                </svg>
                                                            </a>
                                                        </li>*@
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    ResultObject<List<tbl_PageSEO>> resObject;
    SAAdmin _SAAdmin;

    protected override void OnInitialized()
    {
        _SAAdmin = new SAAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _SAAdmin.viewSeo("viewSeo", "");
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSBindDataTableSeo", "seoable", false, 0, "ASC");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "SEO" });
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    async void delete(string id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the selected record?");
        if (confirmed)
        {
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = _SAAdmin.update("deleteseo", "", id.ToString(), "", "USP_Admin");
            if (res1.ResultMessage == "Success")
            {
                resObject = _SAAdmin.viewSeo("viewSeo", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "SEO deleted successfully");
                await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "seoable");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
        }
    }
}