﻿@page "/seo/{param}"
@inject IAdminMgr _IAdminMgr;
@using SA_Utilities;
@inject NavigationManager navigationmanager;

<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        @if (resObject.ResultData.Count > 0)
                        {
                            <h4>Edit @_resModel.Page_Name</h4>
                        }
                    </div>
                </div>
            </div>

            <div class="widget-content widget-content-area">
                <EditForm Model="@_resModel" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-6 col-lg-6">
                                <label for="venue">Page Name<span class="astick">*</span></label>
                                <InputText disabled maxlength="100" id="Page Name" @bind-Value="_resModel.Page_Name" type="text" name="Page Name" placeholder="Enter  Name" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.Page_Name)" />
                            </div>
                            <div class="form-group mb-6 col-lg-6">
                                <label for="venue">Meta Title<span class="astick">*</span></label>
                                <span style="float:right"><label id="titlecountcompare">@Page_TitleCount.Count()</label>/70</span>
                                <span style="clear:both"></span>
                                <InputText @oninput="@((ui) => { keychangetiltle((string)ui.Value.ToString()); })" maxlength="350" id="Page Title" @bind-Value="_resModel.Page_Title" type="text" name="Page Title" placeholder="Enter  Title" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.Page_Title)" />
                                @if (titlecount > 0)
                                {
                                    <div class="progress br-30" style="margin-top:3px;">
                                        <div class="progress-bar bg-warning" role="progressbar" id="Cs_prog_bar" style="width: @titlecount%"></div>
                                    </div>
                                }
                            </div>
                            <div class="form-group mb-6 col-lg-6">
                                <label for="venue">Meta Keword<span class="astick">*</span></label>
                                <InputText maxlength="1000" id="Page Keword" @bind-Value="_resModel.Page_Keyword" type="text" name="Page Keword" placeholder="Enter Page Keword" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.Page_Keyword)" />
                            </div>
                            <div class="form-group mb-6 col-lg-12">
                                <label for="venue">Meta Description<span class="astick">*</span></label>
                                <label for="venue">Meta Description<span class="astick">*</span></label>
                                <span style="float:right"><label id="titlecountcompare">@Page_DescriptionCount.Count()</label>/140</span>
                                <span style="clear:both"></span>
                                <InputTextArea @oninput="@((ui) => { keychangeDescription((string)ui.Value.ToString()); })" maxlength="1000" rows="6" id="Page Description" @bind-Value="_resModel.Page_Description" type="text" name="Page Description" placeholder="Enter  Description" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.Page_Description)" />
                                @if (desccount > 0)
                                {
                                    <div class="progress br-30" style="margin-top:3px;">
                                        <div class="progress-bar bg-warning" role="progressbar" id="Cs_prog_barDescription" style="width: @desccount%"></div>
                                    </div>
                                }
                            </div>
                            @if (_resModel.Content_Type == true)
                            {
                                <div class="form-group mb-4 col-lg-12">
                                    <label for="cname">Content<span class="astick">*</span></label>
                                    <textarea maxlength="100" name="contentval" @bind="@_resModel.page_content" type="text" class="form-control" placeholder="Content" />
                                </div>
                            }
                        </div>
                    </div>

                    @if (resObject.ResultData.Count > 0)
                    {
                        <div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Update SEO" value="Update SEO" class="btn btn-primary" />
                        </div>
                    }
                    else
                    {
                        <div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Create SEO" value="Create SEO" class="btn btn-primary" />
                        </div>
                    }
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<tbl_PageSEO>> resObject;
    tbl_PageSEO _resModel;
    SAAdmin _SAAdmin;

    int titlecount = 0;
    int desccount = 0;
    public string Page_TitleCount = "";
    public string Page_DescriptionCount = "";

    protected override void OnInitialized()
    {
        _SAAdmin = new SAAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        _resModel = new tbl_PageSEO();
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }
        resObject = _SAAdmin.viewSeo("viewSeoId", param);
        if (resObject.ResultData.Count > 0)
        {
            _resModel = resObject.ResultData.FirstOrDefault();
            titlecount = _resModel.Page_Title.Count();
            desccount = _resModel.Page_Description.Count();
            Page_TitleCount = resObject.ResultData.Select(x => x.Page_Title).FirstOrDefault();
            Page_DescriptionCount = resObject.ResultData.Select(x => x.Page_Description).FirstOrDefault();

            if (titlecount > 70)
            {
                titlecount = 100;
            }
            if (desccount > 140)
            {
                desccount = 100;
            }

            JSRuntime.InvokeVoidAsync("CSBindProgreeOnChange", titlecount);
            JSRuntime.InvokeVoidAsync("CSBindProgreeOnChangeDesc", _resModel.Page_Description.Count());

        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "SEO" });

        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("CSBindProgreeOnChange", titlecount);
            JSRuntime.InvokeVoidAsync("CSBindProgreeOnChangeDesc", _resModel.Page_Description.Count());

            @if (_resModel.Content_Type == true)
            {
                JSRuntime.InvokeVoidAsync("CSBindCmsCkeditor");
            }
        }


        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }


    public void keychangetiltle(string key)
    {
        if (key.Count() > 70)
        {
            titlecount = 100;
        }
        else
        {
            titlecount = key.Count();
        }
        Page_TitleCount = key;
        JSRuntime.InvokeVoidAsync("CSBindProgreeOnChange", titlecount);
        StateHasChanged();
    }

    public void keychangeDescription(string key)
    {
        if (key.Count() > 140)
        {
            desccount = 100;
        }
        else
        {
            desccount = key.Count();
            desccount = desccount / 2;
        }
        Page_DescriptionCount = key;
        JSRuntime.InvokeVoidAsync("CSBindProgreeOnChangeDesc", key.Count());
        StateHasChanged();
    }

    async void OnConfirm()
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string contant = "";
        @if (_resModel.Content_Type == true)
        {
            contant = await JSRuntime.InvokeAsync<string>("getEditor", "contentval");
        }

        _resModel.page_content = contant;
        ResultObject<string> res1 = new ResultObject<string>();
        var XMLData = XmlConversion.SerializeToXElement(_resModel);
        res1 = _SAAdmin.update("updateseo", "", "", XMLData.ToString(), "USP_Admin");
        if (res1.ResultMessage == "Success")
        {
            if (resObject.ResultData.Count > 0)
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "SEO updated successfully.");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "SEO added successfully.");
            }
            navigationmanager.NavigateTo("seolist");
        }
        else if (res1.ResultMessage == "SEO Already Exists")
        {
            await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
            await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            resObject = new ResultObject<List<tbl_PageSEO>>();
            _resModel = new tbl_PageSEO();
            StateHasChanged();
            await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
    }

    protected void HandleInvalidSubmit()
    {
    }

}
