﻿@page "/stockList"
@inject NavigationManager NavigationManager;
@inject IAdminMgr _IAdminMgr;
@using Stockathon.Pages.CustomTools;

<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Stock List</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="termTable" class="table style-3">
                            <thead>
                                <tr>
                                    <th>SYMBOL</th>
                                    <th>STOCK</th>
                                    <th>DATA</th>
                                    @*<th>Action</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<button style="display:none;" id="HidUserBtn" type="button" @onclick="@(() => ShowDetailsDialog())" class="btn btn-primary btn-view-response"></button>
<span style="display:none;" id="mailData"></span>
<span style="display:none;" id="Id"></span>
<button style="display:none;" id="HidStockBtn" type="button" @onclick="@(() => ShowStockDialog())" class="btn btn-primary btn-view-response"></button>


@if (showingDialog)
{
    <StockPopUp OnCancel="CancelConfigurePlanDialog" OnConfirm="ConfirmConfigurePlanDialog" SData="profileobject.ResultData.FirstOrDefault()" />
}


@using SA_Utilities;
@code
 {
    SAAdmin _SAAdmin;
    ResultObject<List<StockData>> profileobject = new ResultObject<List<StockData>>();


    bool showingDialog;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _SAAdmin = new SAAdmin(iConfig, httpContextAccessor, _IAdminMgr);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        //if (firstRender)
        //{
        JSRuntime.InvokeVoidAsync("CSStocksDTBind");

        //}
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "SEO" });
    }

    async void ShowDetailsDialog()
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string symbol = await JSRuntime.InvokeAsync<string>("getmailDataOrder");
        string stockid = await JSRuntime.InvokeAsync<string>("getmailDataReview");

        ResultObject<string> res = new ResultObject<string>();
        res = _SAAdmin.stockcron("stockcron", symbol, stockid, "USP_Admin");
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "termTable");
        StateHasChanged();
        //await JSRuntime.InvokeVoidAsync("CSStocksDTBind");
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    async void ShowStockDialog()
    {
        // await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        string symbol = await JSRuntime.InvokeAsync<string>("getmailDataOrder");
        string stockid = await JSRuntime.InvokeAsync<string>("getmailDataReview");

        profileobject = _SAAdmin.stockWithId("getSymbolWithId", symbol);

        showingDialog = true;

        StateHasChanged();
        // await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    void CancelConfigurePlanDialog()
    {
        profileobject = new ResultObject<List<StockData>>();
        JSRuntime.InvokeVoidAsync("CSHideModel", "stockMdoel");
        showingDialog = false;
    }

    void ConfirmConfigurePlanDialog()
    {
        ResultObject<string> res1 = new ResultObject<string>();
        var XMLData = XmlConversion.SerializeToXElement(profileobject.ResultData.FirstOrDefault());
        res1 = _SAAdmin.update("updateStockprofile", "", "", XMLData.ToString(), "USP_Admin");
        if (res1.ResultMessage == "Success")
        {
           JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Stock updated successfully.");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            profileobject = new ResultObject<List<StockData>>();
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
        JSRuntime.InvokeVoidAsync("CSHideModel", "stockMdoel");
    }
}