﻿@page "/stockvaluation"
@inject IAdminMgr _IAdminMgr;
<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Stock Valuation Variables</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <EditForm Model=@_Tbl_Admin_Intrinsic_Values.ResultData OnValidSubmit=OnConfirm OnInvalidSubmit=HandleInvalidSubmit>
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="form-group mb-2 col-lg-6">
                            <label for="cdisclaimer">Expected Market Return (Rm)</label>
                            <InputText @bind-Value=_Tbl_Admin_Intrinsic_Values.ResultData.Rm class="form-control" id="cdisclaimer" placeholder="Expected Market Return" />
                            <ValidationMessage For="@(() => _Tbl_Admin_Intrinsic_Values.ResultData.Rm)" />
                        </div>
                        <div class="form-group mb-2 col-lg-6">
                            <label for="cdisclaimer">Risk Free Rate (Rf)</label>
                            <InputText @bind-Value=_Tbl_Admin_Intrinsic_Values.ResultData.Rf class="form-control" id="cdisclaimer" placeholder="Risk Free Rate" />
                            <ValidationMessage For="@(() => _Tbl_Admin_Intrinsic_Values.ResultData.Rf)" />
                        </div>
                        <div class="form-group mb-2 col-lg-6">
                            <label for="cdisclaimer">Interest Rate of AAA Corporate Bonds</label>
                            <InputText @bind-Value=_Tbl_Admin_Intrinsic_Values.ResultData.Y class="form-control" id="cdisclaimer" placeholder="Y" />
                            <ValidationMessage For="@(() => _Tbl_Admin_Intrinsic_Values.ResultData.Y)" />
                        </div>
                        <div class="col-lg-12">
                            <input type="submit" name="time" class="mt-4 mb-2 btn btn-primary">
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {
    SAAdmin _SAAdmin;
    ResultObject<Tbl_Admin_Intrinsic_Values> _Tbl_Admin_Intrinsic_Values;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _SAAdmin = new SAAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        _Tbl_Admin_Intrinsic_Values = _SAAdmin.adminvVal("Intrinsic_Values");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Stock Valuation Variables" });
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    void OnConfirm()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        var XMLData = SA_Utilities.XmlConversion.SerializeToXElement(_Tbl_Admin_Intrinsic_Values.ResultData);
        ResultObject<string> res = new ResultObject<string>();
        res = _SAAdmin.update("Intrinsic_ValuesUpdate", "", "", XMLData.ToString(), "USP_Admin");
        if (res.ResultMessage == "Success")
        {
            JSRuntime.InvokeAsync<string>("CSAlertMsg", "Success", "Updated Successfully");
            _Tbl_Admin_Intrinsic_Values = _SAAdmin.adminvVal("Intrinsic_Values");
        }
        else
        {
            JSRuntime.InvokeAsync<string>("CSAlertMsg", "info", "Something Went Wrong");
        }

        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }


    protected void HandleInvalidSubmit()
    {
    }
}