﻿@page "/userlist"
@inject NavigationManager NavigationManager;
@inject IUserOrderMgr _IUserOrderMgr;
<div class="layout-px-spacing terms-view">
    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>User List</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive mb-4">
                        <table id="userTable" class="table style-3">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Reg Date</th>
                                    <th>Social Flag</th>
                                    <th>Last Login</th>
                                    <th>Type</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button style="display:none;" id="HidUserBtn" type="button" @onclick="@(() => ShowDetailsDialog())" class="btn btn-primary btn-view-response"></button>
<span style="display:none;" id="userId"></span>


@if (showingDialog)
{
    <Stockathon.Pages.CustomTools.UserListFeaturePopup  OnCancel="CancelNotificationDialog"
                                                       OnConfirm="SubmitNotificationDialog"
                                                       UPListDetailsData="_userPlan" />
}

@code
 {
    SAUser _SAUser;

    ResultObject<List<PlanOrderData>> resUserPlan;
    PlanOrderData _userPlan;
    bool showingDialog;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _SAUser = new SAUser(iConfig, httpContextAccessor, _IUserOrderMgr);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("CSUserDTBind");
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "User" });
    }

    async void ShowDetailsDialog()
    {
        string userid = await JSRuntime.InvokeAsync<string>("getmailDataUser");
        resUserPlan = _SAUser.viewUserPlan("userPlan",userid);
        if (resUserPlan.ResultData.Count == 0)
        {
            _userPlan = new PlanOrderData();
        }
        else
        {
            _userPlan = resUserPlan.ResultData.FirstOrDefault();
            _userPlan.user_id = userid;
            if (_userPlan.PlanFlag == "1")
            {
                _userPlan.plan_name = "";
            }
        }
        showingDialog = true;
        StateHasChanged();
    }

    void CancelNotificationDialog()
    {
        _userPlan = new PlanOrderData();
        resUserPlan = new ResultObject<List<PlanOrderData>>();
        JSRuntime.InvokeVoidAsync("CSHideModel", "primeModal");
        showingDialog = false;
    }

    void SubmitNotificationDialog()
    {
        if (_userPlan.plan_name == "AdMonthly")
        {
            _userPlan.selectPlan = "4";
            _userPlan.plan_features_id = "4";
            _userPlan.plan_duration = "1";
        }
        if (_userPlan.plan_name == "AdQuarterly")
        {
            _userPlan.selectPlan = "5";
            _userPlan.plan_features_id = "5";
            _userPlan.plan_duration = "3";
        }
        if (_userPlan.plan_name == "AdHalfYearly")
        {
            _userPlan.selectPlan = "6";
            _userPlan.plan_features_id = "6";
            _userPlan.plan_duration = "6";
        }
        if (_userPlan.plan_name == "AdAnnualy")
        {
            _userPlan.selectPlan = "7";
            _userPlan.plan_features_id = "7";
            _userPlan.plan_duration = "12";
        }

        if (_userPlan.PlanFlag == "0")
        {
            _userPlan.start_date = _userPlan.start_dateDt.Value.Date.ToString("yyyy-MM-dd");
            _userPlan.end_date = _userPlan.end_dateDT.Value.Date.ToString("yyyy-MM-dd");
        }

        resUserPlan = new ResultObject<List<PlanOrderData>>();
        resUserPlan.ResultData = new List<PlanOrderData>();
        resUserPlan.ResultData.Add(_userPlan);
        ResultObject<string> resData = _SAUser.userPlanUpdate(resUserPlan.ResultData);
        showingDialog = false;
        JSRuntime.InvokeVoidAsync("CSHideModel", "primeModal");
        if (resData.Result == ResultType.Success)
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "success", "Membership add successfully");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "info", "Membership update successfully");
        }
        JSRuntime.InvokeVoidAsync("CSWindowReload");
        //StateHasChanged();
        //JSRuntime.InvokeVoidAsync("CSUserDTBind");
    }

}
