﻿@page "/orderlist"
@inject NavigationManager NavigationManager;
@inject IUserOrderMgr _IUserOrderMgr;
<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4 class="all-orders">All Orders</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area br-6">
                    <div class="table-responsive">
                        <table id="individual-col-search" class="table style-3" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Transaction Date</th>
                                    <th>Transaction Amount</th>
                                    <th>Transaction Status</th>
                                    <th>View Details</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button style="display:none;" id="HidUserBtn" type="button" @onclick="@(() => ShowDetailsDialog())" class="btn btn-primary btn-view-response"></button>
<span style="display:none;" id="mailData"></span>

@if (showingDialog)
{
    <Stockathon.Pages.CustomTools.UserOrderDetails OnCancel="CancelNotificationDialog"
                                                   OnConfirm="SubmitNotificationDialog"
                                                   UPDetailsData="_userPlan"
                                                   UPListDetailsData="resUserPlan.ResultData" />
}


@code
 {
    SAUser _SAUser;

    ResultObject<List<OrderData>> resOrder;
    ResultObject<List<PlanOrderData>> resUserPlan;

    PlanOrderData _userPlan;
    bool showingDialog;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _SAUser = new SAUser(iConfig, httpContextAccessor, _IUserOrderMgr);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("CSOrderDTBind");
        }
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Order" });
    }

    async void ShowDetailsDialog()
    {
        string email = await JSRuntime.InvokeAsync<string>("getmailDataOrder");
        resUserPlan = _SAUser.viewUserPlan("viewPremiumUserOrderId", email);
        _userPlan = new PlanOrderData();

        showingDialog = true;
        StateHasChanged();
    }

    void CancelNotificationDialog()
    {
        JSRuntime.InvokeVoidAsync("CSHideModel", "large-Modal");
        showingDialog = false;
    }
    void SubmitNotificationDialog()
    {
        var qData = _userPlan;
        JSRuntime.InvokeVoidAsync("CSHideModel", "large-Modal");
        showingDialog = false;
    }
}