﻿@using System.ComponentModel.DataAnnotations;
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="large-Modal" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @{
                    if (PData.plan_features_id > 0)
                    {
                        <h5 class="modal-title" id="myLargeModalLabel">Edit Plan</h5>
                    }
                    else
                    {
                        <h5 class="modal-title" id="myLargeModalLabel">Create Plan</h5>
                    }
                }

                <button @onclick="@OnCancel" type="button" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <EditForm Model="@PData" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        @{
                            if (PData.plan_features_id > 0)
                            {
                                <div class="form-group mb-4 col-lg-6">
                                    <input type="hidden" @bind="PData.plan_features_id" />
                                    <label for="name">Plan Old Price</label>
                                    <input type="text" @bind="PData.plan_old_price" class="form-control" />
                                </div>
                                <ValidationMessage For="@(() => PData.plan_old_price)" />
                                <div class="form-group mb-4 col-lg-6">
                                    <label for="feature">Plan Discounted Price</label>
                                    <input type="text" @bind="PData.plan_pricing" class="form-control" />
                                    <ValidationMessage For="@(() => PData.plan_pricing)" />
                                </div>
                                <div class="form-group mb-4 col-lg-6">
                                    <label for="fcode">Short Message</label>
                                    <input type="text" @bind="PData.plan_short_message" class="form-control" />

                                </div>
                            }
                            else
                            {
                                <div class="form-group mb-4 col-lg-6">
                                    <label for="name">Plan Name</label>
                                    <InputText Id="plan_name" Class="form-control" @bind-Value="@PData.plan_name"></InputText>
                                    <ValidationMessage For="@(() => PData.plan_name)" />
                                    <input type="hidden" @bind="PData.plan_features_id" />
                                </div>
                                @*<div class="form-group mb-4 col-lg-6">
                                <label for="feature">Plan Feature</label>
                                <input type="text" @bind="PData.plan_feature" class="form-control" placeholder="Feature" />
                            </div>
                            <div class="form-group mb-4 col-lg-6">
                                <label for="fcode">Feature Short Code</label>
                                <input type="text" @bind="PData.feature_short_code" class="form-control" placeholder="Code" />

                            </div>*@
                                <div class="form-group mb-4 col-lg-6">
                                    <label for="duration">Plan Duration</label>
                                    <input type="text" @bind="PData.plan_duration" class="form-control" placeholder="Duration" />
                                    <ValidationMessage For="@(() => PData.plan_duration)" />
                                </div>
                                @*<div class="form-group mb-4 col-lg-6">
                                <label for="flag">Plan Flag</label>
                                <input type="text" @bind="PData.Plan_Flag" class="form-control" placeholder="Flag" />

                            </div>*@
                                <div class="form-group mb-4 col-lg-6">
                                    <label for="price">Discount Price</label>
                                    <input type="text" @bind="PData.plan_pricing" class="form-control" placeholder="Price" />
                                    <ValidationMessage For="@(() => PData.plan_pricing)" />

                                </div>
                                <div class="form-group mb-4 col-lg-6">
                                    <label for="price">Price</label>
                                    <input type="text" @bind="PData.plan_old_price" class="form-control" placeholder="Price" />
                                    <ValidationMessage For="@(() => PData.plan_old_price)" />

                                </div>
                                @*<div class="form-group mb-4 col-lg-6">
                                <label for="type">Plan Type</label>
                                <input type="text" @bind="PData.Plan_type" class="form-control" id="type" placeholder="Type" />
                            </div>*@
                                <div class="form-group mb-4 col-lg-6">
                                    <label for="message">Plan Short Message</label>
                                    <input type="text" @bind="PData.plan_short_message" class="form-control" placeholder="Message" />
                                    <ValidationMessage For="@(() => PData.plan_short_message)" />

                                </div>
                                @*<div class="form-check col-lg-12">
                                <div class=" custom-control custom-checkbox">

                                    <input type="checkbox" @bind="PData.IsActive" class="custom-control-input" id="customCheck1" />
                                    <label class="custom-control-label" for="customCheck1">Is Active</label>
                                </div>
                            </div>*@
                            }
                        }

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn" type="button" @onclick="@OnCancel"><i class="flaticon-cancel-12"></i> Close</button>
                </div>

            </EditForm>
        </div>
    </div>
</div>


@code {
    [Parameter] public long DataID { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public PlanData PData { get; set; }

    private string StatusMessage;
    private string StatusClass;

    protected override void OnInitialized()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "large-Modal");
    }

    protected void HandleValidSubmit()
    {
        StatusClass = "alert-info";
        StatusMessage = DateTime.Now + " Handle valid submit";
    }
    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        StatusMessage = DateTime.Now + " Handle invalid submit";
    }
}
