﻿@using System.ComponentModel.DataAnnotations;
<div class="modal fade show" id="primeModal" tabindex="-1" role="dialog" aria-labelledby="primeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <EditForm Model="@UPListDetailsData" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="primeModalLabel">Prime Membership</h5>
                    <button @onclick="@OnCancel" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    @if (UPListDetailsData.PlanFlag != "0")
                    {
                        <div class="n-chk">
                            <label class="new-control new-radio radio-classic-primary">
                                <input checked="@(UPListDetailsData.plan_name == "AdMonthly")" @onchange="@(() => UPListDetailsData.plan_name = "AdMonthly")" type="radio" class="new-control-input" name="custom-radio-2" />
                                <span class="new-control-indicator"></span>Prime for 1 Month
                            </label>
                        </div>
                        <div class="n-chk">
                            <label class="new-control new-radio radio-classic-primary">
                                <input checked="@(UPListDetailsData.plan_name == "AdQuarterly")" @onchange="@(() => UPListDetailsData.plan_name = "AdQuarterly")" type="radio" class="new-control-input" name="custom-radio-2" />
                                <span class="new-control-indicator"></span>Prime for 3 Months
                            </label>
                        </div>
                        <div class="n-chk">
                            <label class="new-control new-radio radio-classic-primary">
                                <input checked="@(UPListDetailsData.plan_name == "AdHalfYearly")" @onchange="@(() => UPListDetailsData.plan_name = "AdHalfYearly")" type="radio" class="new-control-input" name="custom-radio-2" />
                                <span class="new-control-indicator"></span>Prime for 6 Months
                            </label>
                        </div>
                        <div class="n-chk">
                            <label class="new-control new-radio radio-classic-primary">
                                <input checked="@(UPListDetailsData.plan_name == "AdAnnualy")" @onchange="@(() => UPListDetailsData.plan_name = "AdAnnualy")" type="radio" class="new-control-input" name="custom-radio-2" />
                                <span class="new-control-indicator"></span>Prime for 1 Year
                            </label>
                        </div>
                        <ValidationMessage For="@(() => UPListDetailsData.plan_name)" />
                    }
                    @if (UPListDetailsData.PlanFlag == "0")
                    {
                        <div class="form-group mb-0 mt-3">
                            <label for="primeDatepicker">Start Date</label>
                            <input disabled @bind="@UPListDetailsData.start_dateDt" @bind:format="yyyy-MM-dd" type="date" class="form-control" data-language="en" placeholder="Select Date.." />
                            <label for="primeDatepicker" class="mt-3">End Date</label>
                            <input type="date" @bind="@UPListDetailsData.end_dateDT" @bind:format="yyyy-MM-dd" class="form-control" data-language="en" placeholder="Select Date.." />
                        </div>

                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary top-center">Submit</button>
                    <button @onclick="@OnCancel" class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>



@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public PlanOrderData UPListDetailsData { get; set; }

    bool ShowDDFlag;
    private string StatusMessage;
    private string StatusClass;

    protected override void OnInitialized()
    {
        if (UPListDetailsData.PlanFlag == "0")
        {
            UPListDetailsData.start_dateDt = Convert.ToDateTime(UPListDetailsData.start_date);
            UPListDetailsData.end_dateDT = Convert.ToDateTime(UPListDetailsData.end_date);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "primeModal");
    }

    protected void HandleValidSubmit()
    {
        StatusClass = "alert-info";
        StatusMessage = DateTime.Now + " Handle valid submit";
    }
    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        StatusMessage = DateTime.Now + " Handle invalid submit";
    }

    void showDD()
    {
        if (ShowDDFlag)
            ShowDDFlag = false;
        else
            ShowDDFlag = true;
    }
}