﻿@using System.ComponentModel.DataAnnotations;


<div class="modal fade show" id="large-Modal" tabindex="-1" role="dialog" style="z-index: 1050; display: block;">
    <div class="modal-dialog modal-lg" role="document">
        <EditForm Model="@UPDetailsData" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />


            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Order Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span @onclick="@OnCancel" aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body" id="edit-plan-body">
                    <div class="dt-responsive table-responsive">
                        <table id="simpletable_UPlanPopUp" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    @*<th>Id</th>*@
                                    <th>Plan Name</th>
                                    <th>Plan Duration</th>
                                    <th>Payment ID</th>
                                    <th>Payment Status</th>
                                    <th>Order Date</th>
                                    <th>Expire Date</th>
                                    @*<th>Check Status</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (PlanOrderData UPlanData in UPListDetailsData)
                                    {
                                        <tr>
                                            <td>@UPlanData.plan_name</td>
                                            <td>@UPlanData.plan_duration Months</td>
                                            <td>@UPlanData.txn_payment_id</td>
                                            @if (@UPlanData.txn_payment_status == "1")
                                            {
                                                <td>Success</td>
                                            }
                                            else
                                            {
                                                <td>Failed</td>
                                            }
                                            <td>@UPlanData.order_date_time</td>
                                            <td>@UPlanData.end_date</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public PlanOrderData UPDetailsData { get; set; }
    [Parameter] public List<PlanOrderData> UPListDetailsData { get; set; }

    private string StatusMessage;
    private string StatusClass;

    protected override void OnInitialized()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "large-Modal");
    }

    protected void HandleValidSubmit()
    {
        StatusClass = "alert-info";
        StatusMessage = DateTime.Now + " Handle valid submit";
    }
    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        StatusMessage = DateTime.Now + " Handle invalid submit";
    }
}
