﻿.theme-loader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
    top: 0;
    opacity: .5;
}

    .theme-loader .ball-scale {
        left: 50%;
        top: 50%;
        position: absolute;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px
    }

        .theme-loader .ball-scale .contain {
            height: 100%;
            width: 100%
        }

            .theme-loader .ball-scale .contain .ring {
                display: none
            }

                .theme-loader .ball-scale .contain .ring:first-child {
                    display: block;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    padding: 10px;
                    border: 3px solid transparent;
                    border-left-color: #01a9ac;
                    border-right-color: #01a9ac;
                    -webkit-animation: round-rotate 1.5s ease-in-out infinite;
                    animation: round-rotate 1.5s ease-in-out infinite
                }

                    .theme-loader .ball-scale .contain .ring:first-child .frame {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        border-left-color: #0ac282;
                        border-right-color: #0ac282;
                        -webkit-animation: round-rotate 1.5s ease-in-out infinite;
                        animation: round-rotate 1.5s ease-in-out infinite
                    }

@-webkit-keyframes round-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes round-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.progress {
    height: 1rem
}

    .progress .progress-bar {
        height: 100% !important
    }


.term-btn-new {
    position: absolute;
    z-index: 999;
    right: 25px;
    top: 15px;
}

.validation-message {
    color: red;
}

.ui-front {
    z-index: 9999999 !important;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
}

.astick{
    color:red;
}


button.btn.add::before {
    font-family: fontAwesome;
    content: "\f067\00a0";
}

input[type=file] {
    color: transparent;
}

@media (min-width: 320px) and (max-width: 767px) {
    .notification-btn {
        position: absolute;
        right: 30px !important;
        top: 20px !important;
        z-index: 99;
    }
    div.dataTables_wrapper div.dataTables_filter{
        text-align:left !important;
    }
        div.dataTables_wrapper div.dataTables_filter input {
            width: 150px;
            position: relative;
            left: -22px;
        }
        div.dataTables_wrapper div.dataTables_filter svg {
            position: absolute;
            top: 15px;
            right: 30px !important;
            width: 20px;
            color: #d3d3d3;
            z-index: 999;
        }
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-expand-sm .navbar-item .nav-link {
        padding: 4.24px 5px !important;
        font-size: 13px !important;
    }
}

.notification-btn {
    top: 115px !important;
    height:35px;
}


@media screen and (max-width: 767px) {
    .stock-btn {
        position: unset !important;
        margin: 5px 0px;
    }

    .notification-btn {
        position: unset !important;
        margin: 5px 0px;
    }

    .users-select {
        position: unset !important;
    }

        .users-select .ml-3 {
            margin-left: 0px !important;
        }
}